form(method="POST", action="/form-submit")
  p Name
    input(type="text", name="name")
  p Email
    input(type="email", name="email")
  p Age
    input(type="number", name="age")
  p
    input(type="submit")
